body {
    padding: 0;
    margin: 0;
}
.sec{
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    height: 705px;
    width: 100%;
    background-color: #f0f2f5;

}
.ddd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 330px;
    width: 27%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 9px;



}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.input{
    font-size: 20px;
    padding: 15px 40px;
    border-radius: 8px;
    border: 1px solid rgb(131, 126, 126);
    margin: 10px;
}
.pp{
    font-size: 20px;
    margin-bottom: 0;
    margin-top: -40px;
}
.hh{
    color: rgb(62, 62, 220);
    font-size: 40px;
}
.ss{
    font-size: 20px;
    padding: 15px 135px;
    color: white;
    background-color: rgb(62, 62, 220) ;
    border-radius: 8px;

}
.aa{
    color: blue;
}